body {
  background: #b0b0b0;
  font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

.container {
  width: 80%;
  margin: 1em auto 0;
  padding: 2em;
  background: #e3e3e3;
  border: 5px solid #636363; }

table {
  border-collapse: collapse;
  margin: 0 auto 2em;
  background: white; }
  table td, table th {
    border: 1px solid #333333;
    padding: .5em;
    width: 116px; }
    table td div, table th div {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin: 1px;
      border: 1px solid #333333; }
  table td {
    text-align: left; }
  table th {
    text-align: center; }

.forms-container {
  vertical-align: top; }
  .forms-container > div {
    width: 100%;
    text-align: center;
    margin: 1em; }
    .forms-container > div label {
      display: block;
      margin-bottom: .5em; }
  .forms-container .save-form textarea {
    width: 520px;
    height: 100px;
    padding: 1em; }
  .forms-container .save-form button {
    display: block;
    margin: 0 auto; }
  .forms-container .status {
    display: none;
    width: 30%;
    font-size: .8em;
    border: 1px solid #ff2600;
    background: #ffa899;
    color: #4d4d4d;
    margin: 0 auto 1em;
    padding: .5em; }

.blue {
  background: #0066ff; }

.yellow {
  background: #fffb00; }

.red {
  background: #ff2600; }

.green {
  background: #33cc00; }
